@font-face {
  font-family: 'webfont-lt';
  font-display: swap;
  src: url('~@/assets/font/webfont.eot'); /* IE9 */
  src: url('~@/assets/font/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('~@/assets/font/webfont.woff2') format('woff2'),
  url('~@/assets/font/webfont.woff') format('woff'), /* chrome、firefox */
  url('~@/assets/font/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('~@/assets/font/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}
.lt-font {
  font-family: "webfont-lt" !important;
}
